.card-container {
    position: relative;
    display: flex;
    height: 40vh;
    width: 80vw;
    gap: 1%;
    border-radius: 25px;
    background-color: $color-2;
    color: $color-3;
    overflow: hidden;
    transition: 0.5s;

    img {
        height: 100%;
        object-fit: cover;
    }

    i {
        position: absolute;
        margin: 1%;
        font-size: 1rem;
    }

    .fa-solid {
        color: $color-2;
        transition: 1s;
        background-color: $color-3;
        padding: 3px;
        border-radius: 100px;

        &:hover {
            cursor: pointer;
            transform: rotate(360deg);
            scale: 1.2;
        }
    }
    .minus {
        color: rgb(154, 65, 65);
    }
    .heart-clicked {
        color: red;
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1%;
        width: 30vw;
    }

    h3,
    h4 {
        font-family: $font-1;
        font-weight: 800;
        letter-spacing: 3px;
        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 1;
        // overflow: hidden;
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;

        li {
            background: $color-4;
            border-radius: 5px;
            padding: 0px 8px 0 0;
            margin: 0 8px 8px 0;
        }
    }

    .line {
        border: 1px solid $color-3;
        opacity: 0.1;
        height: 30vh;
        margin-top: 2.5vh;
        margin-right: 1%;
    }

    .summary {
        padding: 1%;
        // width: 70vw;

        .synopsis {
            padding-top: 1%;
            padding-bottom: 2vh;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 11;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            &:hover {
                cursor: all-scroll;
            }
        }
    }


    &:hover {
        scale: 1.02;
        filter: saturate(0.65);
        box-shadow: 0px 0px 20px 0px $color-4;
    }
}

@media screen and (max-width: 850px) {
    .card-container {
        height: 65vh;
        flex-direction: column;

        img {
            width: 100%;
            height: 25vh;
        }

        i {
            padding: 3%;
        }

        .infos {
            padding: 1.5%;
            width: 100%;
        }

        .summary {
            width: 100%;

            .synopsis {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
            }
        }
    }
}