.header {
    padding: 10px;
    position: relative;

    .navigation {
        position: absolute;
        padding-top: 30px;

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-family: 'Ragnear', sans-serif;

            i {
                padding: 15px;
            }

            li {
                display: flex;
                align-items: center;
                color: rgb(235, 217, 134);
            }
        }
    }

    h1 {
        color: rgb(235, 217, 134);
        font-family: 'Movie Filmstrip', sans-serif;
        font-weight: 100;
        font-size: 4rem;
        text-align: center;
    }
}