.search-tools {
    display: flex;
    flex-direction: column;

}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: $color-3;
}

.bar,
.search-btn {
    padding: 8px;
}

.bar {
    border-radius: 25px;
    text-align: center;
}


.search-rate {
    display: flex;
    gap: 2%;
    justify-content: center;
    background-color: $color-3;
    padding: 10px;
}

.chart {
    display: flex;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: $font-1;
    letter-spacing: 3px;
    background: $color-4;
    color: $color-3;
    transition: 0.5s;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }

    p {
        padding-left: 8px;
    }

    i {
        padding: 5px;
    }
}