.search-bar {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(237, 230, 154);
}

.bar,
.search-btn {
    padding: 8px;
}

.bar {
    border-radius: 25px 0 0 25px;
}

.search-btn {
    border-radius: 0 25px 25px 0;

    &:hover {
        cursor: pointer;
    }
}

.search-rate {
    display: flex;
    gap: 2%;
    justify-content: center;
    background-color: rgb(237, 230, 154);
    padding: 10px;
}

.chart {
    display: flex;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: rgb(56, 56, 124);
    color: antiquewhite;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }

    i {
        padding: 5px;
    }
}

.cards-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
