$font-1: 'Ragnear', sans-serif;

$color-1: rgb(28, 36, 59);
$color-2: rgb(33, 41, 64);
$color-3: rgb(221, 205, 139);
$color-4: rgb(50, 58, 82);
$color-5: rgb(73, 87, 124);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  height: 100vh;
  background: $color-1;

  @media screen and (max-width: 430px) {
    position: relative;
    max-width: 100vw;
  }
}

.cards-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5vh;
  margin-top: 8vh;
}

.credit {
  margin-top: 20vh;
  text-align: center;
  color: $color-3;

  a {
    color: $color-3;
  }
}