* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
  }

  body {
    // height: 100vh;
    background: rgb(45, 45, 96);
  
    @media screen and (max-width: 430px) {
      position: relative;
      max-width: 100vw;
    }
  }

  a, a:visited {
    color: black;
  }

  .credit {
    text-align: center;
    color: antiquewhite;

    a {
        color: antiquewhite;
    }
}